<h1>All events</h1>
<%= render EventsWeb.SharedView, "count.html", list: @events %>
<%= for event <- @events do %>
    <%= render "summary.html", event: event, conn: @conn %>
<% end %>
<a href="<%= Routes.event_path(@conn, :create) %>" class="button float-right">
    Add an event
</a>
