<div class="row">
  <div class="column">
    <a href="<%= @event.id %>">
      <h3>
        <%= @event.title %>
      </h3>
    </a>
  </div>
  <div class="column column-20">
    <small>
      <%= @event.location %>
    </small>
  </div>
  <div class="column column-20">
    <span class="float-right">
      <%= format_date @event.date %>
    </span>
  </div>
</div>
